/* Basislayout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
      height: 100%;
      padding: 0;
      color: #303030;
      font: Verdana, Arial, Sans-Serif;
      background-image: url("afbeeldingen/prikbord-achtergrond.png");

  }
  
  main {
      margin: 0 auto;
      width: 850px;
      position: relative;
  }
  
  
  @font-face {
      font-family: lettertype-1;
      src: url(lettertypen/lettertype-1.ttf);
  }
  
  @font-face {
      font-family: lettertype-2;
      src: url(lettertypen/lettertype-2.otf);
  }
  
  @font-face {
      font-family: lettertype-3;
      src: url(lettertypen/lettertype-3.ttf);
  }
  
  @font-face {
    font-family: lettertype-4;
    src: url(lettertypen/lettertype-4.ttf);
}

@font-face {
  font-family: lettertype-5;
  src: url(lettertypen/lettertype-5.ttf);
}

@font-face {
  font-family: lettertype-7;
  src: url(lettertypen/lettertype-7.otf);
}

@font-face {
  font-family: lettertype-6;
  src: url(lettertypen/lettertype-6.ttf);
}

@font-face {
  font-family: lettertype-8;
  src: url(lettertypen/lettertype-8.otf);
}


  
  article {
      text-align: justify;
  }
  
  
  .tweede {
      text-align: center;
      font-style: italic;
      font-size: 40px;
      font-family: lettertype-1;
      word-spacing: 48px;
      color: rgb(255, 255, 255);
      letter-spacing: 15px;
      position: relative;
      top: -70px;
      z-index: 2;
  }
  
  
  .eerste {
      left: -10px;
      text-align: center;
      font-family: lettertype-2;
      text-shadow: 0px 0px 0 rgb(12, 44, 70),1px 1px 0 rgb(147, 207, 235),2px 2px 0 rgb(135, 207, 235),3px 3px 0 rgb(125, 207, 235),4px 4px 0 rgb(115, 207, 235),5px 5px 0 rgb(59, 147, 182),6px 6px 0 rgb(53, 111, 145),7px 7px 0 rgb(32, 87, 119),8px 8px 0 rgb(31, 61, 117),9px 9px 0 rgb(14, 47, 85),10px 10px 0 rgb(15, 22, 51),11px 11px 0 rgb(0, 0, 0);
      font-size: 90px;
      letter-spacing: 3px;
      position: relative;
      z-index: 1;
     
      
  
  }
  .versiering {
      position: absolute;
      left: 300px;
      top: 50px;
  }
  
  footer {
      text-align: center;
      padding-bottom: 10px;
  }
  
  
  /* specifieke stijlen */
  
  .smalltext {
      font-size: 0.7em;
  }
  
  a {
      color: skyblue;
      text-decoration: none;
  }
  
  
  /* navigatiebalk */
  
  
  nav ul {
      list-style-type: none;
      margin: auto;
      padding: 0px;
      overflow: hidden;
      border-radius: 25px;
      background-color: rgb(101, 181, 218);
      box-shadow: 7px 7px 7px #36270a;
  }
  
  nav ul li {
      float: left;
  }
  
  nav li a {
      display: block;
      font-family: lettertype-3;
      font-size: 25px;
      color: white;
      text-shadow: 5px 5px 5px black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

  }
  
  nav li a:hover {
      background-color: rgb(69, 133, 175)
  }
  
  nav li a.active {
      background-color: rgb(13, 64, 112);
  }
  
  nav ul li ul li {
      width: 50%;
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 500px rgba(0,0,0, 0.3);
  }
  
  .sub-menu {
     position: absolute;
     display:none;
     z-index: 3;
  }
  
  .nav-menu ul li:hover > ul {
     display:block;
  }
  
  .home-icon {
      padding: 0;
  }


  .pushpin {
    position: absolute;
    left: 370px;
    top: 150px;

  }

  .fenotype {
    background-image: url("afbeeldingen/genen.jpg");
  }

  .genenparen {
    background-image: url("afbeeldingen/oog.jpg");
  }

  .monohybride-kruisingen {
    background-image: url("afbeeldingen/chromosoom-paars.jpg");
  } 

  .geslachtschromosomen {
    background-image: url("afbeeldingen/chromosomen.jpg");
  }

  .dihybride-kruisingen {
    background-image: url("afbeeldingen/katten.jpg");
  }

  .manieren-overerven {
    background-image: url("afbeeldingen/dna-achtergrond.jpg");
  }
  
  .nav-achtergrond {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 500px rgba(0,0,0, 0.3);
  }

  .inleiding-tekst {
    position: absolute;
    font-family: lettertype-4;
    font-size: 30px;
    color: rgb(147, 207, 235);
    text-shadow: 1px 1px 1px white, 2px 2px 2px white, 3px 3px 3px rgb(147, 207, 235);
    text-decoration: underline;
    top: 50%;
    left: 10%;
    transform: rotate(-6deg)
  }

  .inleiding-tekst p {
    font-size: 35px;
    text-shadow: none;
    color: black;
  }

  .uitleg {
    position: absolute;
    right: 130px;
    font-weight: bold;
    font-size: 20px;
    top: 400px;
    text-shadow: 2px 2px 2px white;
    font-family: 'Courier New', Courier, monospace
  }


.verticale-tekst {
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  top: 50px;
  font-family: lettertype-5;
  font-size: 40px;
  text-decoration: underline;

}

  .papier2 {
      position: absolute;
      right: 5px;
      top: 330px;
  }

  .fotolijstjes {
    padding-top: 140px;
    position: absolute;
    top: 450px;
    transform: rotate(10deg)
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #tape {
    position: absolute;
    top: 50px;
    right: 170px;
    transform: rotate(110deg);
  }

  .papier-achtergrond {
    position: relative;
    bottom: 0px;
    transform: rotate(5deg);
    z-index: -1;
  }

  .fenotype-header {
  position: absolute;
  top: 40px;
   text-align: center;
   width: 100%;
   font-family: lettertype-7;
   font-size: 50px;
   text-decoration: overline underline;
  }

  .container-1 {
    display: flex;
    justify-content:space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }


  .box-1 .genotype-informatie {
    position: absolute;
    left: 5%;
    top: 7.5%;
    font-family: lettertype-1;
    text-shadow: 2px 2px 2px rgb(114, 134, 214);
    font-size: 25px;
    padding: 10px;
  }

  .genotype-informatie h2 {
    padding-top: 10px;
    text-decoration: wavy underline rgb(59, 147, 182);
  }

  .genotype-informatie p {
    font-family: lettertype-8;
    font-weight: bold;
    text-shadow: none;
    font-style: italic;
    font-size: 27px;
    text-align: left;
    line-height: 30px;
  }

  .genotype-informatie span {
    display: block;
    padding-left: 65px;
  }

  .box-2 {
    order: 2;
    transform: rotate(-20deg);
    padding-top: 80px;
  }

  .box-1 {
    order: 1;
  }

  .box-3 {
    order: 3;
    font-family: lettertype-5;
    font-size: 20px;
    border: 2px solid black;
    text-align: center;
    width: 70%;
    margin-top: 50px;
    padding: 100px 30px 100px 30px;
    
  }

  .box-3 h2 {
    font-family: lettertype-4;
    font-size: 70px;
  }

  .box-4 {
    order: 4;
    margin-top: 60px;
    
  }

  .foto-boven {
    border: 10px solid white;
    margin-bottom: 20px;
    box-shadow: 7px 7px 7px #36270a;
  }
  
  .foto-onder {
    border: 10px solid white;
    box-shadow: 7px 7px 7px #36270a;
  }

  .papier-achtergrond3 {
    z-index: -1;
    position: absolute;
    top: 880px;
  }

  .box-5 {
    margin: 40px 0 0 100px;
    order: 5;

  }

  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    transform: scale(1.3); 
  }

  .box-6 {
    order: 6;
    width: 40%;
    background-image: url("afbeeldingen2/papier-achtergrond4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(135, 207, 235);
    margin-top: 50px;
    font-family: lettertype-5;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black, 4px 4px 4px black;
    font-size: 30px;
    padding: 18px 2px 0px 60px;
    box-shadow: 7px 7px 7px #36270a;
    transform: skew(-5deg);
    
  }

  .box-6 p {
    font-family: lettertype-3;
    color: rgb(12, 44, 70);
    padding-top: 5px;
    text-shadow: none;
    font-size: 35px;
    text-align: left;
    line-height: 35px;
  }

  .box-7 {
    order: 7;
    margin-top: 50px;
    transform: rotate(10deg);
  }

  .box-8 {
    order: 9;
    transform: rotate(5deg);
  }

  .rectangle {
      position: absolute;
      top: 2000px;
      height: 400px;
      width: 850px;
      z-index: -1;
      background-color: rgb(135, 207, 235)
  }

  .box-9 {
    order: 8;
    margin-top: 120px;
    padding: 0px 298px 0px 0px;
    border-top: 30px double white;
    border-bottom: 30px double white;
    font-family: lettertype-7;
    text-shadow: 1px 1px 1px white, 2px 2px 2px white, 3px 3px 3px black, 4px 4px 4px black, 5px 5px 5px white, 6px 6px 6px white, 7px 7px 7px black;
    font-size: 80px;
    text-align: left;
  
  }

  .box-10 {
    order: 10;
    transform: rotate(-10deg);
    padding-bottom: 200px;
    padding-left: 300px;
  
  }

  .box-11 {
    order: 11;
    transform: rotate(-10deg);
    padding-left: 200px;
  }

  .papier-achtergrond {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    transform: rotate(0.2deg);
  }

  .foto-container {
    position: absolute;
    left: 5px;
    top: 300px;
    transform: rotate(-10deg);
    z-index: 2;
  }

  .foto-container h2 {
    font-family: lettertype-5;
    font-size: 30px;
  }

  .image {
    display: block;
    width: 500px;
    height: auto;
    border: 10px solid white;
    box-shadow: 7px 7px 7px #36270a;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(101, 181, 218)
  }
  
  .foto-container:hover .overlay {
    opacity: 1;
  }
  
  .tekst {
    color: white;
    font-size: 19px;
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
  }  

  .container-2 {
    display: flex;
  }

  .container-2 .box-1 {
    order: 1;
    margin-top: 450px;
    padding-left: 300px;
  }

  .genexpressie-info {
    position: absolute;
    top: 200px;
    z-index: 1;
    right: 0px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(101, 181, 218, 0.8);
  }

  .genexpressie {
    position: absolute;
    top: 290px;
    right: 150px;
    z-index: 2;
  }

  .genexpressie-tekst1 {
    font-family: lettertype-3;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white, 2px 2px 2px white, 3px 3px 3px black, 4px 4px 4px black, 5px 5px 5px white, 5px 5px 5px white;
  }

  .genexpressie-tekst2 {
    position: absolute;
    top: 150px;
    right: -80px;
    font-family: lettertype-7;
    font-size: 35px;
    transform: rotate(-10deg);
  }

  .belangrijk {
    background-color: rgb(13, 64, 112);
    color: white;
  }

  .blauwe-achtergrond {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .container-2 .box-2 {
    order: 3;
  }

  .container-2 {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .blauwe-achtergrond {
    border-radius: 30px;
    opacity: 0.9;
    border: 5px solid #ddd;
    padding: 0px 30px 30px 30px;
    position: absolute;
    top: 650px;

  }

  .container-2 .box-3 {
    order: 2;
    background-color: rgb(82, 118, 160);
    border: none;
    color: white;
    padding: 60px 20px 60px 20px;
    font-family: lettertype-3;
    font-size: 30px;
    border-radius: 50%
  }

  .container-2 .box-3:hover {
    background: rgb(31, 61, 117);
  }

  .container-2 .box-3 h2 {
    font-size: 40px;
    font-family: lettertype-3;
    text-decoration: white underline;
  }
  
  

  .horizontale-lijn1 {
    position: relative;
    z-index: -1;
    top: 540px;
    border: 50px solid white 

    } 

    .container-2 .box-6 {
    order: 4;
    margin-left: 60%;
    margin-top: -100px;

  }


  .backdrop {
    background: url("afbeeldingen/dna-achtergrond.jpg") center;
    background-size: contain;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    text-decoration: white underline;
    border-radius: 30px;
}

.monohybride-titel {
    font-family: lettertype-5;
    font-size: 40px;
    color: white;
    border: 10px solid;
    background: rgb(17, 53, 77);
    mix-blend-mode: multiply;
    text-align: center;
  
}

#fruitvliegjes {
  font-size: 35px;
  padding-left: 15px;
}

#fruitvliegjes-tekst {
  font-size: 30px;
  padding-left: 20px;
}

.container-3 .box-6 {
  order: 1;
}

.box-6 img {
  border: 2px outset white;
  margin-left: 20px;
}

.container-3 {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-3 .box-3 {
  font-size: 20px;
  list-style-position: inside;
}

.container-3 .box-3 span {
  text-decoration: underline;
}

.container-3 .box-1 {
  order: 2;
  margin-left: 180px;
}

.container-3 .box-4 {
  order: 1;
  margin-top: 100px;
}

.container-3 .tekstwolk {
  margin-top: 50px;
}

.grijs img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grijs:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.rechthoek-links .rectangle {
  position: absolute;
  top: 900px;
  left: 0px;
  height: 900px;
  width: 150px;
}

.rechthoek-rechts .rectangle {
  position: absolute;
  top: 920px;
  right: 0px;
  height: 900px;
  width: 150px;
}

.container-4 {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.container-4 .box-1 {
  order: 1;
  margin-top: 50px;
  z-index: 2;
}

.container-4 .box-2 {
  order: 3;
  background-image: url("afbeeldingen2/papier-achtergrond.png");
  transform: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.container-4 .box-2 h2 {
  font-family: lettertype-4;
  color: rgb(115, 207, 235);
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
  padding-left: 10%;
}

.container-4 .box-2 p {
  font-family: lettertype-7;
  font-size: 30px;
  font-weight: bold;
  padding-right: 40%;
  padding-left: 10%;
  text-align: left;
}

.container-4 .box-4 {
  order: 2;
  z-index: 2;
}

.rechthoek-onder .rectangle {
  position: absolute;
  top: 615px;
  z-index: 1;
}

.tekst .overerving {
    margin-top: 15px;
    font-size: 25px;
}

.container-5 {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-5 .box-6 {
    order: 1;
    margin-left: 70%;
}

.container-5 .box-3 {
    order: 2;
    margin-top: 100px;
}

.container-5 .box-4 {
    order: 3;
    margin-top: 150px;
    margin-left: 5px;
}

.container-6 {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

  
.container-6 .box-1 .allelen-informatie {
    order: 2;
}